* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

h1{
    text-align: center;
    background-color: lightseagreen;
    color: darkblue;
}

#jogo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
}


.tabuleiro {
    background-color: saddlebrown;
    display: grid;
    /*  divide em 7 colunas de tamanho igual */
    grid-template-columns: repeat(7, 1fr);
    /* divide em 7 linhas de tamanho igual  */
    grid-template-rows: repeat(7, 1fr);
    /* largura */
    width: 100%;
    height: 95%;

}

.pecinha {
    /* largura 40% */
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid black 0.5px;

}

.pecinha[data-tipo='v'] {
    background: radial-gradient(rgb(0, 34, 78), black);
    
}

.pecinha[data-tipo='p'] {
    background: radial-gradient(rgb(192, 192, 192),white);
}

.pecinha[data-tipo=''] {
    border: none;
}

#vitoria
{
    display: flex;
    /*centraliza o texto */
    justify-content: center;
    align-items: center;    
    text-align: center;
    justify-content: center;
    background-color: aqua;
    /*grande*/
    font-size: 150px;
    color: darkcyan;
}